body{
    background-color: rgba(128, 128, 128, 0.278);
}
h1{
    font-size: 44px;
    text-align: center;
}

.gallary{
    padding: 20px;
    display:flex ;
    gap: 20px;
    flex-wrap: wrap;
    width: 400px;
    margin: 0 auto;
    justify-content: center;
}
.animation_name{
    display: flex;
    text-align: center;
    margin-top: 30px;
}
.container{
    display: flex;
    justify-content: center;
align-items: center;
flex-direction: column;
}
.item{
   
    width: 300px;
}
.btn_wrapper{
   display: flex;
   gap: 20px;
}
.btn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color:rgb(33, 33, 141);
    color: #fffffF;
}
.btn:hover{
    background-color:rgba(33, 33, 141, 0.666);
}